# 默认忽略的文件
/../../软件测试 /.idea/shelf/
/../../软件测试 /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../软件测试 /.idea/httpRequests/
# Datasource local storage ignored files
/../../软件测试 /.idea/dataSources/
/../../软件测试 /.idea/dataSources.local.xml
